


/* Galaxy S2
body {
  width: 480px;
  height: 800px;
}*/


.ui-header {
  height: 44px;
}

.ui-content {
  /*height: 400px;*/
  height: 100%;
  padding: 0px;
  /*background: #EFEFEF;*/
}

#completedlistview {
  margin: 0px;
  
}

.ui-content .ui-listview {
  margin: 0px;
}

.listitem {
/*  border-left: solid 5px #666666;
  border-right: solid 1px #999999;
*/
}

.checked {
  text-decoration: line-through;
  background: #999999;
}

#nav {
  /*position: absolute;
  bottom: 30px;*/
  /*position: absolute;*/
  bottom: 35px;
  height: 20px;
}

/*#completedContent {
  height: 700px;
}*/

.ui-footer {
  /*width: 100%;*/
/*position: absolute;*//*data-position="fixed"で指定済み*/
  /*bottom: 0px;*/
  height: 34px;
}

#completedFooter {
  text-align: center;
  /*padding-top: -100px;*/
}

#completedContent {
  /*height: 100%;*/
  /*overflow: scroll;*/
}
